In [23]:
 # square root of a number 
num = float(input("enter a number")) 
num_sqrt = num ** 0.5 
print ("the square root of %0.3f is %0.3f"%(num,num_sqrt))

enter a number2.89
the square root of 2.890 is 1.700

In [21]:
#area of triangle 
a = float(input("enter first side"))
b = float(input("enter second side"))
c = float(input("enter third side")) 
s = (a+b+c)/2 
area = (s*(s-a)*(s-b)*(s-c)) ** 0.5 
print('the area of triangle is %0.3f'%area)

enter first side3
enter second side5
enter third side7
the area of triangle is 6.495

In [20]:
# swap two numbers 

x = int(input("enter a value"))
y = int(input("enter a value")) 
temp=x
x=y
y=temp
print('the value of x after swapping : {}'.format(x)) 
print('the value of y after swapping : {}'.format(y))

enter a value4
enter a value5
the value of x after swapping : 5
the value of y after swapping : 4

In [19]:
# number is odd or even 
num = int(input("enter a number"))
if(num%2) == 0:
    print("{0} is even".format(num))
else:
        print("{0} is odd".format(num))

enter a number3
3 is odd

In [18]:
# leap year 
year = 2012
if(year%4)==0:
    if(year%400)==0:
        print("{0} is a leap year".format(year))
    else:
        print("{0} is not a leap year".format(year))

2012 is not a leap year

In [13]:
x=8
x<<2

32

In [12]:
a=5
b=6
a%b

5

In [11]:
 a= 7 
if a>10:
    print("great")
else:
    print("small")

small

In [9]:
a=10
b=20 
c=30 
if (a>b) & (a>c):
    print('a is greater')
if (b>a) & (b>c):
    print('b is greater') 
else:
    print('c is greater')

c is greater

In [10]:
mark=int(input('enter mark'))
if mark>80 and mark<=100:
    print('grade A')
elif mark>60 and mark<=80:
    print('grade B')
elif mark>30 and mark<=60:
    print('grade C') 
else:
    print('you are fail')

enter mark23
you are fail

In [9]:
a=9
if a%2==0:
    print('even')
else:
    print('odd')

odd

In [8]:
a='sparta' 
for i in a: 
    if i=='a':
        continue
    print(i)

s
p
r
t

In [7]:
list=[2,3,4,5]
list2=['raj'] 
list+list2
list*3+list2

[2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5, 'raj']

In [6]:
rows=int(input("enter rows"))
for i in range(0,rows+1):
    print()
    for j in range(i):
        print(i,end='')

enter rows4


1
22
333
4444

In [5]:
n=int(input("enter range")) 
for i in range(1,n,2):
    print(i)

enter range5
1
3

In [4]:
n=int(input("enter number")) 
for i in range(1,11):
    print(n,"*",i,"=",n*i)

enter number2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [1]:
n=int(input("enter number"))
i=1
while i<=10:
    print(n,"*",i,"=",n*i) 
    i=i+1

enter number3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [3]:
import math 
print(math.sqrt(12))

3.4641016151377544

In [48]:
print(math.factorial(5))

120

In [24]:
import calendar 
s=calendar.prcal(2022)

                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31